<!DOCTYPE html>
<html ng-app="clientApp">
<head>
    <title>Restauranger</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <script src="/lib/sugar/release/sugar.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/clientApp.js"></script>

    <script src="/restaurang/0-module.js"></script>
    <script src="/restaurang/RestaurangController.js"></script>
    <script src="/restaurang/RestaurangResource.js"></script>

</head>
<body>
<div class="container" ng-controller="RestaurangController">
    <h2>Demo!</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <strong>{{kvarvarande()}}</strong> av
                <strong>{{restauranger.length}}</strong> kvar
                <button class="btn btn-danger btn-sm" ng-click="arkivera()" ng-disabled="!arkiveringMojligt()">Arkivera</button>
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="restaurang in restauranger">
                        <label class="checkbox" ng-class="{besokt : restaurang.besokt}">
                            <input type="checkbox" ng-model="restaurang.besokt" ng-change="restaurang.$update()"/>
                            {{restaurang.namn}}
                        </label>
                    </li>
                    <li class="ghost" ng-class="{skriver: restaurangNamn}">
                        <label class="checkbox">
                            <input type="checkbox" disabled="disabled"/>
                            {{restaurangNamn}}&hellip;
                        </label>
                    </li>
                </ul>
                <form class="form-inline" name="restaurangForm" ng-submit="laggTillRestaurang()">
                    <input type="text" class="input-medium" required ng-model="restaurangNamn">
                    <button class="btn btn-primary" ng-disabled="restaurangForm.$invalid" type="submit">Lägg till</button>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <strong>1</strong> av
                <strong>2</strong> kvar
                <button class="btn btn-danger btn-sm">Arkivera</button>

                <hr>
                <ul class="unstyled">
                    <li>
                        <label class="checkbox done">
                            <input type="checkbox" checked="checked"/>
                            Tvätta
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            Städa
                        </label>
                    </li>
                    <li class="ghost typing">
                        <label class="checkbox">
                            <input type="checkbox" disabled="disabled"/>
                            Mangla la&hellip;
                        </label>
                    </li>
                </ul>
                <form class="form-inline">
                    <input type="text" class="input-medium" value="Mangla la"/>
                    <button class="btn btn-primary" type="submit">Lägg till</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>