<div class="container">
    <h2>Demo!</h2>
    <div class="row">
        <div class="well span4">
            <strong>{{remaining()}}</strong> av
            <strong>{{todos.length}}</strong> kvar
            <button class="btn btn-danger btn-small" ng-click="archive()">Arkivera</button>
            <hr>
            <ul class="unstyled">
                <li ng-repeat="todo in todos">
                    <label class="checkbox" ng-class="{done : todo.done}">
                        <input type="checkbox" ng-model="todo.done" ng-change="todo.$update()"/>
                        {{todo.text}}
                    </label>
                </li>
                <li class="ghost" ng-class="{typing: todoText}">
                    <label class="checkbox">
                        <input type="checkbox" disabled="disabled"/>
                        {{todoText}}&hellip;
                    </label>
                </li>
            </ul>
            <form class="form-inline" ng-submit="addTodo()">
                <input type="text" class="input-medium" ng-model="todoText">
                <button class="btn btn-primary" type="submit">Lägg till</button>
            </form>
        </div>

        <div class="well span4">
            <strong>1</strong> av
            <strong>2</strong> kvar
            <button class="btn btn-danger btn-small">Arkivera</button>

            <hr>
            <ul class="unstyled">
                <li>
                    <label class="checkbox done">
                        <input type="checkbox" checked="checked"/>
                        Tvätta
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" />
                        Städa
                    </label>
                </li>
                <li class="ghost typing">
                    <label class="checkbox">
                        <input type="checkbox" disabled="disabled"/>
                        Mangla la&hellip;
                    </label>
                </li>
            </ul>
            <form class="form-inline">
                <input type="text" class="input-medium" value="Sprätta en pi"/>
                <button class="btn btn-primary" type="submit">Lägg till</button>
            </form>
        </div>
    </div>
</div>
